body {
    background-color: black;
}

.container {
    width: 900px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 18px;
    background-color: #333333;
}

.list-header {
    font-size: 36px
}

h1 {
    text-align: center;
    color: #00D5EE;
    font-family: 'Permanent Marker';
    font-weight: normal;
    letter-spacing: 5px;
}